{% extends 'body.html' %}
{% block content %} 
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dzaky Abdi Al Jabbar</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'about' %}">About</a></li>
            <li class="active"><a href="{% url 'work' %}">Work</a></li>
            <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
            <li class="active"><a href="{% url 'resume' %}">Resume</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'schedule' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        </div>
    </nav>

    <div>
        <h1 style="font-family: Courier;text-align: center;font-size: 38px;color: deepskyblue;">
            <b> <br>Hello, World!</b>
        </h1>
        <img src="https://pbs.twimg.com/media/DmYjfZoXgAEizJA.jpg" alt="photo profile" width="250" height="250">
        <h2 style="font-family: Courier;text-align: center;font-size: 38px;color: deepskyblue;">
            <b>I am Dzaky<br>Abdi Al Jabbar</b>
        </h2>
        <p style=" font-family: Courier;text-align: center;font-size: 20px;color: deepskyblue;">
            <b>Computer Science Student</b>
            <br> <br> <br> <br>
        </p>
    </div>

<div class="container">      
        <div class="row">
          <div class="col-sm-6" style="background-color:salmon;background-image:linear-gradient(salmon,white)">
            <h1  style="color:white;text-align:center;font-family:Courier New;font-size:50px;">
                <br> <br> <br> <br> <br>About<br> <br> <br> <br> <br> <br>
            </h1>
          </div>
          <div class="col-sm-6" style="background-color:white;">
            <h1 style="text-align:justify;font-family:Courier New;font-size:20px;">
                <br> <br>
                <b>Mahasiswa Fakultas Ilmu Komputer Universitas Indonesia, program studi Sistem Informasi</b>
                <br> <br>
            </h1>
            <p style="font-family:Courier New;font-size:15px;">
                <br>
                Saya lahir di Cirebon pada tanggal 17 September 1999. 
                Sekarang saya tinggal di Depok untuk berkuliah. 
                Saya sedang belajar caranya membuat website yang baik dan benar.
                Suatu saat nanti saya ingin menjadi Website Developer yang handal.
            </p>
            <h2 style="text-align:justify;font-family:Courier New;font-size:20px;">
                <br> <br>
                <b>Riwayat Pendidikan :</b>
                <br> <br>
            </h2>
            <ul style="font-family:Courier New;font-size:15px;">
                <li>SD Negeri Kebon Baru 7</li>
                <li>SMP Negeri 1 Cirebon</li>
                <li>SMA Negeri 2 Cirebon</li>
                <li>Fakultas Ilmu Komputer - Universitas Indonesia</li>
                <br> <br> <br> <br> <br> <br> <br> <br>
            </ul>  
          </div>
        </div>
      </div>

      <div class="container">      
            <div class="row">
              <div class="col-sm-6" style="background-color:white;background-image:linear-gradient(white, grey)">
                <h1  style="text-align:center;font-family:Courier New;font-size:50px;">
                    <br> <br> <br> <br> <br>Work<br> <br> <br> <br> <br> <br>
                </h1>
              </div>
              <div class="col-sm-6" style="background-color:white;">
                <img src="https://pbs.twimg.com/profile_images/445537141183873024/PMe9AKat_400x400.png" width="200" height="200">
                <img src="https://pbs.twimg.com/media/DhJrWOhV4AAzbR6.jpg" width="200" height="200">
                <img src="https://2.bp.blogspot.com/-A79MAddtuVU/T9DqAvdtCcI/AAAAAAAAA6o/laGYTOxIIZM/s1600/fasilkom.png" width="200" height="200">
                <h1 style="text-align:center;font-family:Courier New;font-size:5px;"> <br> </h1>
            </div>
            </div>
          </div>

        <div class="container">      
            <div class="row">
              <div class="col-sm-6" style="background-color:grey;background-image:linear-gradient(grey, deepskyblue)">
                <h1  style="color:white;text-align:center;font-family:Courier New;font-size:50px;">
                    <br> <br> <br> <br> <br>Contact<br> <br> <br> <br> <br> <br>
                </h1>
              </div>
              <div class="col-sm-6" style="background-color:white;">
                <h1 style="text-align:justify;font-family:Courier New;font-size:20px;">
                    <br> <br>
                    <b>If you want to collaborate on crafting amazing experience for people – you are very welcome to contact me.</b>
                    <br> <br>
                </h1>
                <p style="font-family:Courier New;font-size:15px;">
                    <br>
                    I am available for freelance projects and full-time employment.
                </p>
                <h2 style="text-align:justify;font-family:Courier New;font-size:20px;">
                    <br> <br>
                    <b>Dzaky Abdi Al Jabbar</b>
                </h2>
                <p style="text-align:justify;font-family:Courier New;font-size:15px;">
                    dzakyabdi17@gmail.com<br>
                    +62 812 2425 1548
                    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
                </p> 
              </div>
            </div>
        </div>

        <div class="container">      
                <div class="row">
                  <div class="col-sm-6" style="background-color:deepskyblue;background-image:linear-gradient(deepskyblue, salmon)">
                    <h1  style="color:white;text-align:center;font-family:Courier New;font-size:50px;">
                        <br> <br> <br> <br> <br>Resume<br> <br> <br> <br> <br> <br>
                    </h1>
                  </div>
                  <div class="col-sm-6" style="background-color:white;">
                    <h1 style="text-align:justify;font-family:Courier New;font-size:20px;">
                        <br> <br>
                        <b>If you want to collaborate on crafting amazing experience for people – you are very welcome to contact me.</b>
                        <br> <br>
                    </h1>
                    <p style="font-family:Courier New;font-size:15px;">
                        <br>
                        I am available for freelance projects and full-time employment.
                    </p>
                    <h2 style="text-align:justify;font-family:Courier New;font-size:20px;">
                        <br> <br>
                        <b>Dzaky Abdi Al Jabbar</b>
                    </h2>
                    <p style="text-align:justify;font-family:Courier New;font-size:15px;">
                        dzakyabdi17@gmail.com<br>
                        +62 812 2425 1548
                        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
                    </p> 
                  </div>
                </div>
              </div>
{% endblock %}