<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Form Register Account</title>
<style>
</style>
</head>
<body background="https://wallpapershome.com/images/wallpapers/love-image-1920x1080-couple-art-sunset-hd-15670.jpg">

<div class="container">
    <h1>Registrasi Kegiatan</h1>
    <div class="form-group">
    <form id='form' method="POST" action="{% url 'schedule' %}">
        {% csrf_token %}
        <table border="1">
            {{ form }}
        </table>
        <button type="submit" class="save btn btn-default">Submit</button> 
    </form>
</div>
</div>

<div class = "container p-5">
    <h3>Daftar Kegiatanku</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
                <th>Category</th>
            </thead>
            <tbody>
                {% for e in daftarkegiatan %}
                <tr>
                    <td>{{e.name}}</td>
                    <td>{{e.location}}</td>
                    <td>{{e.date|date:"l, j F Y"}}</td>
                    <td>{{e.time|date:"H:i"}}</td>
                    <td>{{e.category}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{% url 'delete' %}">Delete Data</a>

</body>
</html>
